<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Token</title>
</head>
<body>
    <h1>Seleccionar Token</h1>
    <ul>
        {% for token in tokens %}
        <li>
            <strong>Blockchain:</strong> {{ token.blockchain }} <br>
            <strong>Dirección del Token:</strong> {{ token.token_address }} <br>
            <strong>Nombre del Archivo:</strong> {{ token.file_name }} <br>
            <form action="{% url 'view-token' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="token_address" value="{{ token.token_address }}">
                <label for="encryption_key_{{ forloop.counter }}">Clave de Encriptación:</label>
                <input type="text" id="encryption_key_{{ forloop.counter }}" name="encryption_key" required><br>
                <button type="submit">Ver y Descargar Archivo</button>
            </form>
        </li>
        {% empty %}
        <li>No se encontraron tokens asociados a esta wallet.</li>
        {% endfor %}
    </ul>
</body>
</html>